@use "@angular/material" as mat;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.index {
  width: 100%;
  font-size: small;
  position: relative;
  height: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
}

.index ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.index li {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-top: 14px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.index li.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.section {
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
}

app-about {
  width: 100%;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .index {
    width: 200px;
    height: 100%;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
  }

  .index li {
    padding: 5px;
    border-radius: 1px;
    cursor: pointer;
  }

  .index ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: end;
  }

  .content {
    margin-left: 220px;
    padding: 20px;
  }

  .section {
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .index {
    width: 400px;
    font-size: larger;
  }

  .content {
    margin-left: 400px;
  }
}
