<div class="projects">
  <h2>Projects</h2>
  <owl-carousel-o>
    <ng-container *ngFor="let project of projectsData">
      <ng-template carouselSlide [id]="project.id">
        <mat-card>
          <img mat-card-image [src]="project.imageUrl" [alt]="project.title" />
          <mat-card-content>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
