/* filepath: /c:/src/portfolio/src/app/components/Shared/Header/header.component.scss */
.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header.blur {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}
