:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f5f5f5;
}

app-header,
app-footer {
  flex-shrink: 0;
}

app-hero,
app-experience,
app-skills,
app-projects {
  margin-bottom: 20px;
}

/* Custom Scrollbar Styles for Main Content */
.main-content::-webkit-scrollbar {
  width: 5px;
}

.main-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.main-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
