@use "@angular/material" as mat;
@import "../../../../styles.scss";

.hero {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: mat.m2-get-color-from-palette($custom-primary, 900);
  box-shadow: none;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: mat.m2-get-color-from-palette($custom-primary, 200);
  text-decoration: underline;
}

.hero-content {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  color: mat.m2-get-color-from-palette($custom-primary, 100);
}

@media (min-width: 768px) {
  .hero {
    padding: 2rem;
  }

  .hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 1.7rem;
  }

  .hero-content {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1440px) {
}
